<div *ngIf="todo" class="card d-flex flex-row">
  <div class="todo-image">
    <img class="img-thumbnail" src="https://www.publicdomainpictures.net/pictures/410000/velka/astronomie-astrologie-vintage-alt-1628027671rUQ.jpg" class="card-img-top" alt="The world map">
  </div>
  <div class="card-body p-1">
    <h5 class="card-title">{{todo.title}} - {{statusAsStr(todo.status)}}</h5>
    <button class="btn btn-sm btn-primary me-2" (click)="completeTodo()">Complete</button>
    <button class="btn btn-sm btn-secondary me-2" (click)="cancelTodo()">Cancel</button>
    <button class="btn btn-sm btn-danger me-2" (click)="deleteTodo()">Delete</button>
  </div>
</div>
